aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
aiosqlite==0.21.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
audioop-lts==0.2.2
audioread==3.0.1
babel==2.17.0
backports.zstd==1.0.0
bcrypt==5.0.0
beautifulsoup4==4.13.4
bidict==0.23.1
bleach==6.2.0
blinker==1.9.0
blis==1.3.0
Brotli==1.1.0
cachelib==0.13.0
cachetools==6.1.0
catalogue==2.0.10
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.2
Choco==1.0.5
click==8.2.1
cloudpathlib==0.23.0
colorama==0.4.6
comm==0.2.2
comtypes==1.4.13
confection==0.1.5
contourpy==1.3.2
cryptography==46.0.2
cycler==0.12.1
cymem==2.0.11
dash==3.2.0
dash-bootstrap-components==2.0.4
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dnspython==2.8.0
et_xmlfile==2.0.0
executing==2.2.0
Faker==37.8.0
fanstatic==1.5
fastapi==0.116.1
fastjsonschema==2.21.1
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
fhirpy==2.0.15
filelock==3.20.0
Flask==2.3.3
Flask-Caching==2.3.1
Flask-Compress==1.20
Flask-Cors==4.0.0
Flask-Limiter==4.0.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
flask-talisman==1.1.0
fonttools==4.57.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.45
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
idna==3.10
importlib_metadata==8.7.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
js==1.0
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
legacy-cgi==2.6.3
librosa==0.11.0
limits==5.6.0
llvmlite==0.45.1
marisa-trie==1.3.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.2
multidict==6.6.4
murmurhash==1.0.13
narwhals==2.1.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
node==1.2.2
notebook==7.4.3
notebook_shim==0.2.4
numba==0.62.1
numpy==2.3.3
odict==1.9.0
opencv-python==4.12.0.88
openpyxl==3.1.5
ordered-set==4.1.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
pandas==2.3.1
pandocfilters==1.5.1
parso==0.8.4
pdf2image==1.17.0
pillow==11.2.1
platformdirs==4.3.8
playwright==1.55.0
plotly==6.3.0
plumber==1.7
pooch==1.8.2
preshed==3.0.10
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
pure_eval==0.2.3
pyarrow==21.0.0
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
pyee==13.0.0
PyGetWindow==0.0.9
Pygments==2.19.2
PyJWT==2.10.1
pymongo==4.5.0
PyMsgBox==2.0.1
pyparsing==3.2.3
pyperclip==1.11.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.3
python-json-logger==3.3.0
python-socketio==5.14.3
pyttsx3==2.99
pytweening==1.2.0
pytz==2025.2
pyvista==0.45.1
pywin32==310
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==27.0.0
redis==7.0.1
referencing==0.36.2
regex==2025.9.18
reportlab==4.4.4
requests==2.32.3
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.2.0
rpds-py==0.25.1
safetensors==0.6.2
schedule==1.2.2
scikit-fem==11.0.0
scikit-learn==1.7.1
scipy==1.16.2
scooby==0.10.1
seaborn==0.13.2
selenium==4.35.0
Send2Trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
skfem==0.0.0
smart_open==7.3.1
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.7
soxr==1.0.0
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.44
srsly==2.5.1
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==0.47.2
streamlit==1.48.1
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
thinc==8.3.6
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.1
toml==0.10.2
torch==2.8.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.0
trimesh==4.8.3
trio==0.30.0
trio-websocket==0.12.2
twilio==9.8.0
typer==0.19.2
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
undetected-chromedriver==3.5.5
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.35.0
vtk==9.4.2
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
WebOb==1.8.9
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
win10toast==0.9
wrapt==1.17.3
wsproto==1.2.0
yarl==1.20.1
zipp==3.23.0
zope.component==6.0
zope.deferredimport==5.1
zope.deprecation==5.1
zope.event==5.1.1
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
